<div class="container">
  <div class="row">
      <div class="col-12">
          <div style="width: 100%; height: 100%;">
          <% @users_game.challenges.each do |challenge| %>
            <% artwork = challenge.artwork %>
              <div class="card-product d-flex justify-content-between p-2">
                <%= image_tag (artwork.photo)%>
                <div class="card-product-infos">
                  <h2 class="d-flex justify-content-center fw-bolder"><%= "#{artwork.name}" %></h2>
                  <p class="d-flex justify-content-center"><%= "#{artwork.artist}" %></p>
                  <p class="d-flex justify-content-center"><%= "#{artwork.creation_date}" %></p>
                </div>
                <div class="div">
                <h2 class="fw-bold">score</h2>
                <h2 class="fw-bolder"><%=challenge.score.to_i%></h2>
                <div class="étoile">
                  <% if challenge.score.to_i > 9600 %>
                    <%= image_tag("étoileargent5.png") %>
                  <% elsif challenge.score.to_i > 7200 && challenge.score.to_i <= 9600 %>
                    <%= image_tag("étoileargent4.png") %>
                  <% elsif challenge.score.to_i > 4800 && challenge.score.to_i <= 7200 %>
                    <%= image_tag("étoileargent3.png") %>
                  <% elsif challenge.score.to_i > 2400 && challenge.score.to_i <= 4800 %>
                    <%= image_tag("étoileargent2.png") %>
                  <% elsif challenge.score.to_i > 0 && challenge.score.to_i <= 2400 %>
                    <%= image_tag("étoileargent1.png") %>
                  <% end %>
                </div>
                </div>
              </div>
            <% end %>
            <div class="card-product-total d-flex justify-content-space-evenly p-2">
                <div class="ms-3 py-2">
                  <div class="d-flex justify-content-center card-product-total-title">total score</div>
                  <h2 class="total_score m-1 d-flex justify-content-center"><%= @users_game.total_score.to_i %></h2>
                  <div class="étoile-tot d-flex justify-content-center">
                    <% if @users_game.total_score.to_i > 48000 %>
                      <%= image_tag("étoileor5.png") %>
                    <% elsif @users_game.total_score.to_i > 36000 && @users_game.total_score.to_i <= 48000 %>
                      <%= image_tag("étoileor4.png") %>
                    <% elsif @users_game.total_score.to_i > 24000 && @users_game.total_score.to_i <= 36000 %>
                      <%= image_tag("étoileor3.png") %>
                    <% elsif @users_game.total_score.to_i > 12000 && @users_game.total_score.to_i <= 24000 %>
                      <%= image_tag("étoileor2.png") %>
                    <% elsif @users_game.total_score.to_i > 0 && @users_game.total_score.to_i <= 12000 %>
                      <%= image_tag("étoileor1.png") %>
                    <% end %>
                  </div>
                </div>
                <div class="div">
                      <%= link_to "Play again", games_path, class: "play-btn", data: {turbo_method: :post} %>
                </div>
            </div>

            <div class="card-product-footer">
                <div class="play-section d-flex justify-content-between p-2">
                  <div class="div">
                    <%= column_chart([
                      { name: "artist score", data: { @users_game.challenges[0].artwork.name => @users_game.challenges[0].artist_score.to_i, @users_game.challenges[2].artwork.name => @users_game.challenges[2].artist_score.to_i, @users_game.challenges[3].artwork.name => @users_game.challenges[3].artist_score.to_i, @users_game.challenges[4].artwork.name => @users_game.challenges[4].artist_score.to_i, } },
                      { name: "geo score", data: { @users_game.challenges[0].artwork.name => @users_game.challenges[0].geo_score.to_i, @users_game.challenges[1].artwork.name => @users_game.challenges[1].geo_score.to_i, @users_game.challenges[2].artwork.name => @users_game.challenges[2].geo_score.to_i, @users_game.challenges[3].artwork.name => @users_game.challenges[3].geo_score.to_i, @users_game.challenges[4].artwork.name => @users_game.challenges[4].geo_score.to_i, } },
                      { name: "date score", data: { @users_game.challenges[0].artwork.name => @users_game.challenges[0].time_score.to_i, @users_game.challenges[1].artwork.name => @users_game.challenges[1].time_score.to_i, @users_game.challenges[2].artwork.name => @users_game.challenges[2].time_score.to_i, @users_game.challenges[3].artwork.name => @users_game.challenges[3].time_score.to_i, @users_game.challenges[4].artwork.name => @users_game.challenges[4].time_score.to_i,} }
                    ], width: "350px", height: "180px", stacked: true) %>
                  </div>
                </div>
            </div>
          </div>
      </div>
  </div>

</div>
