<div class="container bg-black">
  <div class="row">
      <div class="col-12">

      <%# LEADERBOARD %>

    <div class="leaderboard-container">
      <% if @users_game.game.users.count > 1 %>
        <div class="d-flex align-items-baseline justify-content-between">
          <h2>Leaderboard</h2>
          <%= link_to users_game_path(@users_game), class: "text-white" do %>
            <i class="fa-solid fa-arrows-rotate"></i>
          <% end %>
        </div>
      <div class="leaderboard">
      <table class="table table-striped">
        <tbody>
          <% @players_scores.each do |player| %>
        <tr>
          <td><% if @ranking == 1 %>
                <%= image_tag 'medalor_360.png', style: 'width: 30px; height: 30px;' %>
              <% elsif @ranking == 2 %>
                <%= image_tag 'medalsilver_360.png', style: 'width: 30px; height: 30px;' %>
              <% elsif @ranking == 3 %>
                <%= image_tag 'medalbronze_360.png', style: 'width: 30px; height: 30px;' %>
              <% else %>
                <%= @ranking %>
              <% end %></td>

          <td colspan="2" class="player-box">
              <div class="player-details">
                <p class="<%= 'fw-bolder' if player.username == current_user.username %>">
                  <%= player.username %>
                </p>
                  <div class="étoile-tot d-flex justify-content-center" id="star-leaderboard">
                      <% if player.total_score.to_i > 48000 %>
                        <%= image_tag("etoileor5.png") %>
                      <% elsif player.total_score.to_i > 36000 && player.total_score.to_i <= 48000 %>
                        <%= image_tag("etoileor4.png") %>
                      <% elsif player.total_score.to_i > 24000 && player.total_score.to_i <= 36000 %>
                        <%= image_tag("etoileor3.png") %>
                      <% elsif player.total_score.to_i > 12000 && player.total_score.to_i <= 24000 %>
                        <%= image_tag("etoileor2.png") %>
                      <% elsif player.total_score.to_i > 0 && player.total_score.to_i <= 12000 %>
                        <%= image_tag("etoileor1.png") %>
                      <% end %>
                    </div>
                <p class="<%= 'fw-bolder' if player.username == current_user.username %>">
                  <%= player.total_score.to_i %>
                </p>
              </div>
            </td>
        </tr>
          <% @ranking += 1 %>
          <%end%>
        </tbody>
      </table>

      </div>

    </div>

      <% end %>


      <%# PLAYERS SCORES %>
      <h2>Your Scores</h2>

        <div class="card-product-total d-flex justify-content-center">
                <div class="ms-3 py-2">
                  <div class="d-flex justify-content-center card-product-total-title mt-3">total score</div>
                  <h2 class="total_score m-1 d-flex justify-content-center"><%= @users_game.total_score.to_i %></h2>
                  <div class="étoile-tot d-flex justify-content-center">
                    <% if @users_game.total_score.to_i > 48000 %>
                      <%= image_tag("etoileor5.png") %>
                    <% elsif @users_game.total_score.to_i > 36000 && @users_game.total_score.to_i <= 48000 %>
                      <%= image_tag("etoileor4.png") %>
                    <% elsif @users_game.total_score.to_i > 24000 && @users_game.total_score.to_i <= 36000 %>
                      <%= image_tag("etoileor3.png") %>
                    <% elsif @users_game.total_score.to_i > 12000 && @users_game.total_score.to_i <= 24000 %>
                      <%= image_tag("etoileor2.png") %>
                    <% elsif @users_game.total_score.to_i > 0 && @users_game.total_score.to_i <= 12000 %>
                      <%= image_tag("etoileor1.png") %>
                    <% end %>
                  </div>
                </div>
            </div>

          <div style="width: 100%; height: 100%;">
          <% @users_game.challenges.joins(:games_artwork).order("games_artworks.position ASC").each do |challenge| %>
            <% artwork = challenge.artwork %>
              <div class="card-product d-flex justify-content-between p-2">
                <%= image_tag (artwork.photo)%>
                <div class="card-product-infos">
                  <h2 class="d-flex justify-content-center fw-bolder"><%= "#{artwork.name}" %></h2>
                  <p class="d-flex justify-content-center"><%= "#{artwork.artist}" %></p>
                  <p class="d-flex justify-content-center"><%= "#{artwork.creation_date}" %></p>
                </div>
                <div class="div">
                <h2 class="fw-bold"></h2>
                <h2 class="fw-bolder"><%=challenge.score.to_i%>pts</h2>
                <div class="étoile">
                  <% if challenge.score.to_i > 9600 %>
                    <%= image_tag("etoileargent5.png") %>
                  <% elsif challenge.score.to_i > 7200 && challenge.score.to_i <= 9600 %>
                    <%= image_tag("etoileargent4.png") %>
                  <% elsif challenge.score.to_i > 4800 && challenge.score.to_i <= 7200 %>
                    <%= image_tag("etoileargent3.png") %>
                  <% elsif challenge.score.to_i > 2400 && challenge.score.to_i <= 4800 %>
                    <%= image_tag("etoileargent2.png") %>
                  <% elsif challenge.score.to_i > 0 && challenge.score.to_i <= 2400 %>
                    <%= image_tag("etoileargent1.png") %>
                  <% end %>
                </div>
                </div>
              </div>
            <% end %>

            <div class="card-product-footer">
                <div class="play-section d-flex justify-content-between p-2">
                  <div class="div">
                    <% artist = (0...@users_game.challenges.count).map { |i| [@users_game.challenges[i].artwork.name, @users_game.challenges[i].artist_score.to_i] } %>
                    <% geo = (0...@users_game.challenges.count).map { |i| [@users_game.challenges[i].artwork.name, @users_game.challenges[i].geo_score.to_i] } %>
                    <% time = (0...@users_game.challenges.count).map { |i| [@users_game.challenges[i].artwork.name, @users_game.challenges[i].time_score.to_i] } %>
                    <%= column_chart([
                      { name: "artist score", data: artist.to_h },
                      { name: "geo score", data: geo.to_h },
                      { name: "date score", data: time.to_h }
                      ],
                      width: "350px",
                      height: "260px",
                      stacked: true,
                      colors: ["#ED6856", "#79CEB8", "#F1BF4A"],
                      library: {backgroundColor: "#ffffff"}

                    ) %>
                  </div>
                </div>
            </div>
          <div class="div d-flex justify-content-center">
                      <%= link_to "Play again", games_path, class: "play-btn", data: {turbo_method: :post} %>
                </div>
          </div>
      </div>
  </div>

</div>
