<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid mt-4">
    <div class="d-flex justify-content-start align-items-center">
    <%= link_to root_path, class: "penseur-logo" do %>
      <%= image_tag "penseurLogoNB" %>
    <% end %>
    <div class="navbar-title">ArtCartel</div>
    </div>

    <div class="dropdown ">
      <%= image_tag("menu-bar.png", alt: "Dropdown image", class: "dropdown-toggle", role: "button", data: { bs_toggle: "dropdown" }, aria: { expanded: "false" }) %>
      <ul class="dropdown-menu dropdown-menu-end" data-bs-theme="dark">
        <%# if user_signed_in? %>
          <li class="nav-item active">
          </li>
              <%= link_to "Home", root_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              <%# link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
