<div class="home-page">
  <!-- Hero Section -->
  <div class="hero">
    <h1 class="game-title">ArtCartel</h1>
    <p class="subtitle">Discover. Play. Master.</p>

    <%# <!-- Difficulty Switch -->
    <div class="difficulty-switch">
      <button class="difficulty-btn active" id="normal-btn">Normal</button>
      <button class="difficulty-btn" id="easy-btn">Easy</button>
    </div> %>

  <!-- Play Button -->
  <div class="play-section">
    <%# <button class="play-btn">PLAY</button> %>
    <%= link_to "PLAY", games_path, class: "play-btn", data: {turbo_method: :post} %>
  </div>

  <!-- Challenge Button -->
    <div class="challenge-btn-section">
      <button class="challenge-btn">Challenge a friend</button>
    </div>
  </div>

  <!-- Options Section -->
  <div class="options-section">
    <button type="button" class="btn btn-primary btn-round" data-bs-toggle="modal" data-bs-target="#categoryModal">
      <img src="<%= asset_path('earth-globe.png') %>" alt="Categories Icon" class="icon-img">
    </button>

    <button type="button" class="btn btn-primary btn-round" data-bs-toggle="modal" data-bs-target="#techniqueModal">
      <img src="<%= asset_path('color-palette.png') %>" alt="Techniques Icon" class="icon-img">
    </button>

    <button type="button" class="btn btn-primary btn-round" data-bs-toggle="modal" data-bs-target="#museumModal">
      <img src="<%= asset_path('museum.png') %>" alt="Museums Icon" class="icon-img">
    </button>
  </div>

  <!-- Modals Section -->
  <!-- Categories Modal -->
  <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="categoryModalLabel">CATEGORIES</h1>
        </div>
        <div class="modal-body">
          <ul>
            <% Category.where(theme: "Culture").each do |category| %>
              <li><%= category.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Techniques Modal -->
  <div class="modal fade" id="techniqueModal" tabindex="-1" aria-labelledby="techniqueModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="techniqueModalLabel">TECHNIQUES</h1>
        </div>
        <div class="modal-body">
          <ul>
            <% Category.where(theme: "Technique").each do |technique| %>
              <li><%= technique.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Museums Modal -->
  <div class="modal fade" id="museumModal" tabindex="-1" aria-labelledby="museumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="museumModalLabel">MUSEUMS</h1>
        </div>
        <div class="modal-body">
          <ul>
            <% Category.where(theme: "Museum").where(name: "Metropolitan Museum of Art").each do |museum| %>
              <li><%= museum.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
