<div class="home-page">
  <!-- Hero Section -->
  <div class="hero">
      <div class="logo-title-container">
    <img src="<%= asset_path('penseurLogoNB.png') %>" alt="Logo" class="logo">
    <h1 class="game-title">ArtCartel</h1>
    </div>
    <p class="subtitle">Discover. Play. Master.</p>

    <div data-controller="invitation" data-invitation-path-value="<%= challenge_friend_games_path %>">
      <!-- Challenge Button -->
      <div class="challenge-btn-section" data-bs-toggle="modal" data-bs-target="#ChallengeModal">
        <%# <button type="button" class="challenge-btn" data-bs-toggle="modal" data-bs-target="#ChallengeModal" >Challenge a Friend</button> %>
        <%= link_to "Challenge a Friend", challenge_friend_games_path,
          class: "play-btn",
          data: {
            action: "click->invitation#createGame",
            turbo_method: :post
          } %>
      </div>
  <!-- Modal -->
      <div id="ChallengeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"> Copy this link !</h4>
            </div>
            <div class="modal-body">
            <!-- Game Code-->
              <p data-invitation-target="invitationCode"></p>
            <!-- Start Game directly -->
              <%= link_to "start to play", "", class: 'btn btn-primary', data: { invitation_target: "playBtn" } %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Join Button -->
     <div class="join-btn-section" data-bs-toggle="modal" data-bs-target="JoinModal">
        <button type="button" class="challenge-btn" data-bs-toggle="modal" data-bs-target="#JoinModal" >Join a game !</button>
      </div>
  <!-- Modal -->
      <div id="JoinModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"> Join a game !</h4>
            </div>
            <div class="modal-body">
              <%= simple_form_for :invitation_code, url: users_games_path, method: :post do |f| %>
              <%= f.input :invitation_code, label: "Your invitation link", placeholder: "Paste your invitation code" %>
              <%= f.submit "Join game!", class: "btn btn-primary" %>
              <% end %>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
  <!-- Play Button -->
  <div class="play-section">
    <%# <button class="play-btn">PLAY</button> %>
    <%= link_to "PLAY", games_path, class: "play-btn", data: {turbo_method: :post} %>
  </div>

  <!-- Challenge Button -->
    <div class="challenge-btn-section">
      <button class="challenge-btn">Challenge a friend</button>
    </div>
  </div>

  <!-- Options Section -->
  <div class="options-section">
    <button type="button" class="btn btn-primary btn-round" data-bs-toggle="modal" data-bs-target="#categoryModal">
      <img src="<%= asset_path('earth-globe.png') %>" alt="Categories Icon" class="icon-img">
    </button>

    <button type="button" class="btn btn-primary btn-round" data-bs-toggle="modal" data-bs-target="#techniqueModal">
      <img src="<%= asset_path('color-palette.png') %>" alt="Techniques Icon" class="icon-img">
    </button>

    <button type="button" class="btn btn-primary btn-round" data-bs-toggle="modal" data-bs-target="#museumModal">
      <img src="<%= asset_path('museum.png') %>" alt="Museums Icon" class="icon-img">
    </button>
  </div>

  <!-- Modals Section -->
  <!-- Categories Modal -->
  <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="categoryModalLabel">CATEGORIES</h1>
        </div>
        <div class="modal-body">
          <ul>
            <% Category.where(theme: "Culture").each do |category| %>
              <li><%= category.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Techniques Modal -->
  <div class="modal fade" id="techniqueModal" tabindex="-1" aria-labelledby="techniqueModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="techniqueModalLabel">TECHNIQUES</h1>
        </div>
        <div class="modal-body">
          <ul>
            <% Category.where(theme: "Technique").each do |technique| %>
              <li><%= technique.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Museums Modal -->
  <div class="modal fade" id="museumModal" tabindex="-1" aria-labelledby="museumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="museumModalLabel">MUSEUMS</h1>
        </div>
        <div class="modal-body">
          <ul>
            <% Category.where(theme: "Museum").where(name: "Metropolitan Museum of Art").each do |museum| %>
              <li><%= museum.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
