<div class="container">
  <div data-controller="popup">
    <div class="row" id="background">
      <div class="col-12">

        <div style="display: flex; justify-content: center; align-items: center; height: 60px;">
          <h1><%=@artwork.name%></h1>
        </div>
        <div class="div" style="position: relative;" >
          <%= image_tag @artwork.photo,  class: "d-block w-40 img-fluid rounded", alt: "Photo of #{@artwork.name}" %>

          <div class="options-section">
            <button type="button" class="btn-open" data-bs-toggle="modal" data-bs-target="#categoryModal">
              <img src="<%= asset_path('map.png') %>" alt="Categories Icon" class="icon-img">
            </button>
          </div>
        </div>
          <% if @artwork.attribution_licence.present? %>
            <div id="toggleButton">attribution licence</div>
            <div id="attribution" class="p attrib" style="display:none;">
              <%= @artwork.attribution_licence %>
            </div>
            <script>
            // Sélectionner le bouton et l'élément à masquer/afficher
              const toggleButton = document.getElementById('toggleButton');
              const attributionElement = document.getElementById('attribution');

              // Ajouter un gestionnaire d'événements pour le bouton
              toggleButton.addEventListener('click', function() {
                // Vérifier l'état actuel de l'élément
                if (attributionElement.style.display === 'none') {
                // Si l'élément est caché, l'afficher
                  attributionElement.style.display = 'block';
                } else {
                // Si l'élément est visible, le cacher
                  attributionElement.style.display = 'none';
                }
              });
            </script>
          <% else %>
            <p><%= "" %></p>
          <% end %>
        <div style="display: flex; gap: 10px; flex; justify-content: center;">
          <% if @artwork.materials.present? %>
            <div class="info">Materials : <%=@artwork.materials%></div>
          <% else %>
            <div class="info">Materials : / </div>
          <% end %>
          <% if @artwork.dimensions.present? %>
            <div class="info">Dimensions : <%=@artwork.dimensions%></div>
          <% else %>
            <div class="info">Dimensions : / </div>
          <% end %>
          <div class="info">Conservation site : <%=@artwork.museum%></div>
        </div>



        <div
          style="width: 100%; height: 100%;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <%= render "layouts/form-game", game: @game %>
      </div>
    </div>

    <!-- Popup Section -->
    <div data-popup-target="rootPopup" class="my-popup">
      <div class="my-popup-content d-flex flex-column">
        <div>
          <h2 class="p-2 text-center">Your results</h2>
          <%= image_tag @artwork.photo, class: "img-popup d-block h-40 img-fluid rounded", alt: "Photo of #{@artwork.name}" %>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <div

            id="results-map"
            class= "map_popup_answer"
            style="width: 100%; height: 180px;"

            data-controller="map"
            data-user-coordinates-value="<%= @user_coordinates.to_json %>"
            data-artwork-coordinates-value="<%= @artwork_coordinates.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
          
          <div class="card-pop-up mt-2">
            <p class="text-center" id="pop-text"></p>
            <p class="text-center" id="geo-score"></p>
          </div>
        </div>

        <div class="d-flex flex-column">
          <div class="text_popup_answer p-2 d-flex flex-row">
            <!-- Artist Section -->
            <div class="card-pop-up p-1">
              <div id="correct_artist" class="d-none">
                <p class="mb-auto text-center correct-answer"><b><%= @artwork.artist %></b></p>
              </div>
              <div id="incorrect_artist" class="d-none">
                <p class="mb-auto text-center false-answer" id="artist-guess"></p>
                <p class="mb-auto text-center correct-answer"><b><%= @artwork.artist %></b></p>
              </div>
              <p class="p text-center" id="artist-score"></p>
            </div>

            <!-- Date Section -->
            <div class="card-pop-up p-1">
              <div id="correct_date" class="d-none">
                <p class="mb-auto text-center correct-answer"><b><%= @artwork.creation_date %></b></p>
              </div>
              <div id="incorrect_date", class="d-none">
                <p class="mb-auto text-center false-answer" id="date-guess"></p>
                <p class="mb-auto text-center correct-answer"><b><%= @artwork.creation_date %></b></p>
              </div>
              <p class="text-center" id="pop-time"></p>
            </div>
          </div>

          <!-- Total Score -->
          <div class="h2 fw-bold me-3 p-2 text-center p-4" id="pop-score"></div>
        </div>

        <!-- Buttons -->
        <div class="d-flex justify-content-around">
          <a class="btn btn-primary" target="_blank" href="<%= @artwork.info_link %>">More Info</a>
          <%= link_to "Next", @next_page_path, class: "my-popup-close-btn btn-custom text-decoration-none", id: 'next' %>
          <%= link_to "End Game", users_game_path(@users_game), class: "my-popup-close-btn btn-custom text-decoration-none d-none", id: 'end-game' %>
        </div>
      </div>
    </div>
  </div>
</div>
