<div class="container">
  <div data-controller="popup">

      <%# ----- CHALLENGE questions ------- %>
    <div class="row">
      <div class="col-12">
        <div style="display: flex; justify-content: center; align-items: center; height: 100px;">
          <h1><%=@artwork.name%></h1>
        </div>
        <div style="display: flex; gap: 10px; flex; justify-content: center;">
          <p><%=@artwork.materials%></p>
          <p><%=@artwork.dimensions%></p>
          <p><%=@artwork.museum%></p>
        </div>
        <div class="div" style="position: relative;" >
          <%= image_tag @artwork.photo,  class: "d-block w-40 img-fluid rounded", alt: "Photo of #{@artwork.name}" %>
          <div class="p attrib"><%= @artwork.attribution_licence %></div>
          <div class="options-section">
            <button type="button" class="btn-open" data-bs-toggle="modal" data-bs-target="#categoryModal">
              <img src="<%= asset_path('map.png') %>" alt="Categories Icon" class="icon-img">
            </button>
          </div>
        </div>

                <%# <div id="distance-message" style="text-align: center; margin-top: 20px;"></div>
                <div id="time-message" style="text-align: center; margin-top: 20px;"> %>
                 <%# <%= @time_message %>
              <%#   </div> %>

          <div style="width: 100%; height: 100%;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
          <%= render "layouts/form-game", game: @game%>
      </div>
    </div>

      <%# ----- POP UP with ANSWERS ------- %>
    <div data-popup-target="rootPopup" class="my-popup">
      <div class="my-popup-content d-flex justify-content-between">

        <div class="map_txt_popup_answer justify-content-between">
          <p class="h3 mb-auto text-center">Your results</p>
          <%# -----  MAP & TEXT ------- %>
        <div class="d-flex justify-content-center">
          <div class="text_popup_answer p-2">
            <%# -----  CORRECT ARTIST ------- %>
            <p class="mb-auto text-center">Artist</p>
            <div>
            <p class="mb-auto text-center" id="artist-guess" > </p>
            <p class="mb-auto text-center">Artist's name: <b><%=@artwork.artist%></b> </p>
            </div>
            <%# -----  SCORE ARTIST ------- %>
            <div class="p text-center" id="artist-score"></div>
            <%# -----  CORRECT DATE ------- %>
            <p class="mb-auto text-center">Date</p>
            <div>
            <p class="mb-auto text-center" id="date-guess"> </p>
              <p class="mb-auto text-center">Creation date: <b><%=@artwork.creation_date%></b></p>
            </div>
            <%# -----  SCORE DATE ------- %>
           <div class="div text-center" id="pop-time"></div>

          </div>
          <%# -----  POPUP MAP ------- %>
        </div>
          <div
            class= "m-2"
            style="height: 120px; width: 100%"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>

                <%# -----  SCORE GEOLOCATION ------- %>
          <p class="p ms-3 text-center p-2 mt-2" id="pop-text"></p>

                 <%# -----  SCORE TOTAL ------- %>
                 <p class="mb-auto text-center">Total Score</p>
            <div class="h2 fw-bold me-3 p-2 text-center p-4" id="pop-score"></div>


                <%# -----  BUTTONS ------- %>
                <%# -----  MORE INFO LINK ------- %>
          <div class="d-flex justify-content-around">
            <a class="btn btn-primary" target="_blank" href="<%=@artwork.info_link%>">more info</a>
            <%# -----  BUTTONS ------- %>
            <%= link_to "Next", @next_page_path, class:"my-popup-close-btn btn-custom text-decoration-none", id: 'next' %>
            <%= link_to "End game", users_game_path(@users_game), class:"my-popup-close-btn btn-custom text-decoration-none d-none", id: 'end-game' %>
          </div>
          </div>

        </div>
      </div>

  </div>
</div>







  </div>
</div>
