<div class="container">
    <div class="row">
        <div class="col-12" data-controller="form-input">
            <%= simple_form_for([@games_artwork, @challenge]) do |f| %>
              <%= f.input :latitude, as: :hidden, input_html: { id: 'latitude' } %>
              <%= f.input :longitude, as: :hidden, input_html: { id: 'longitude' } %>
              <% if (@artwork.artist == "anonyme") %>
                <div class="p">Artist: Anonyme</div>
              <% else %>
                <%= f.input :artist, label: "Artist's name", placeholder: "Type your artist guess" %>

              <% end  %>
              <!-- Jauge de date avec plage de -3000 à 2024 -->
              <div style="position: relative;">
                  <%= f.input :creation_date, as: :range, input_html: { min: "-3000", max: "2024", value: "0", step: "1", oninput: "updateSliderValue(this)" } %>
                  <span id="sliderValue" style="position: absolute; top: -25px; left: 50%; transform: translateX(-50%); background: #fff; padding: 5px 10px; border-radius: 4px; border: 1px solid #ccc; font-weight: bold;">0</span>
                  <!-- Affichage de la date correspondante -->
                  <span id="sliderDate" style="display: block; margin-top: 10px; font-size: 1.2rem;">Year: 0</span>
              </div>
                    <!-- Affichage de la date correspondante -->                

                <%= f.submit "Submit answers", class: "btn btn-primary", data: { action: "click->form-input#submit"} %>
           <% end %>
            <button data-form-input-target="popup" data-action="click->popup#openPopup">Submit answers</button>

            <script>
            function updateSliderValue(slider) {
                const value = slider.value;
                const sliderValue = document.getElementById('sliderValue');

                sliderValue.textContent = value;

                // Afficher la date correspondante dans le span en bas de la jauge
                sliderDate.textContent = `Year: ${value}`;

                // Calculer la position relative du curseur
                const sliderWidth = slider.offsetWidth;
                const position = ((value - slider.min) / (slider.max - slider.min)) * sliderWidth;

                // Déplacer le span au-dessus du curseur
                sliderValue.style.left = `${position}px`;
            }
            </script>
        </div>
    </div>
</div>
